
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

html, body {
height: 100%;
line-height: 170%;
}

body {
/* line-height: 1; */
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
content: '';
content: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

*:focus {  
outline: none;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
border: 0;
outline: 0;
}

html,body {
  height: 100%;
}

.vcenter {
display: flex;
justify-content: center;
align-items: center;
height: 200px;
border: 3px solid green; 
}

.student-background {
background-image: url(../images/img/background/students_home.png) !important;
background-position: left top;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.mission-background {

background-image: url(../images/img/background/ourmission_background.jpeg) !important;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.parents-background {
background-image: url(../images/img/background/parents_home.png) !important;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.financials-background {
background-image: url(../images/img/background/financials_home.png) !important;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.advisors-background {
background-image: url(../images/img/background/advisors_home.png) !important;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.subscribe-background {
background-image: url(../images/img/background/subscribe2.jpg) !important;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/*
#why {
background-image: url(../images/img/background/mile.png) !important;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

#mission {
background-color: #7393B3;
background-image: url(../images/img/background/ourmission_background.jpeg) !important;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
}



#footer {
  background-color:#000000;
  color:#FFFFFF;
}

.blue-nav-background {
  background-color:#dee5ea;
}

#about p, #subscribe p {
  text-align: left;
}

#about h2, #subscribe h2, #footer h4, #footer div {
  text-align: left;
}

#consent-error {
  color:red;
}

a, .btn, button, span, p, i, input, select, textarea, li, img, svg path, ::after, ::before, .transition-3, h1, h2, h3, h4, h5, h6 {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: translatey(0px);
    -webkit-transform: translatex(0px);
  }
  50% {
    -webkit-transform: translatey(-30px);
    -webkit-transform: translatex(20px);
  }
  100% {
    -webkit-transform: translatey(0px);
    -webkit-transform: translatex(0px);
  }
}

@keyframes zoom {
  0% {
    transform: translatey(0px);
    transform: translatex(0px);
  }
  50% {
    transform: translatey(-30px);
    transform: translatex(20px);
  }
  100% {
    transform: translatey(0px);
    transform: translatex(0px);
  }
}

.container {
width: 100%;
max-width: 900px;
overflow: hidden;
position: relative;
}



.dots .dot {
  position: absolute;
  border-radius: 100%;
  z-index: 11;
}
  
.dots .dot:nth-of-type(1) {
  top: -80px;
  right: -80px;
  width: 160px;
  height: 160px;
  background-color: #689bf6;
  -webkit-animation: zoom 10s ease-in-out infinite alternate;
  animation: zoom 10s ease-in-out infinite alternate;
}
  
.dots .dot:nth-of-type(2) {
  bottom: -120px;
  left: -120px;
  width: 240px;
  height: 240px;
  background-color: #f66867;
  -webkit-animation: zoom 9s ease-in-out infinite alternate;
  animation: zoom 9s ease-in-out infinite alternate;
  }
  
  .dots .dot:nth-of-type(3) {
    bottom: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    background-color: #ffd84c;
    -webkit-animation: zoom 9s ease-in-out infinite alternate;
  animation: zoom 9s ease-in-out infinite alternate;
  }

  @media (min-width: 768px) {
    .dots .dot:nth-of-type(1) {
      top: -190px;
      right: -190px;
      width: 380px;
      height: 380px;
      background-color: #689bf6;
      @include animation(float 6s ease-in-out infinite);
    }
  }

.slick-dots {
display:none!important;
  bottom: 25px!important;
  z-index: 100!important;
}

.slick-dots li button::before {
  font-size:14px!important;
}

/*change 1*/
.bg-img-single {
background-color: #7393B3;

background-image: url(../images/img/background/Career-Change.png) !important;*/
background-position: center center !important;
}

.bg-img-single2 {
background-image: url(../images/img/background/feature2.jpg) !important;
background-position: center center !important;
}

.bg-img-single3 {
background-image: url(../images/img/background/feature3.jpg) !important;
background-position: center center !important;
}

.bg-img-single4 {
background-image: url(../images/img/background/feature4.jpg) !important;
background-position: center center !important;
}

.bg-img-single5 {
background-image: url(../images/img/background/feature5.jpg) !important;
background-position: center center !important;
background-size: cover;
}

.bg-img-single6 {
background-image: url(../images/img/background/feature6.jpg) !important;
background-position: center center !important;
background-size: cover;
}

.bg-img-single7 {
background-image: url(../images/img/background/feature7.jpg) !important;
background-position: center center !important;
background-size: cover;
}


body {
font-family: 'Raleway', sans-serif;
font-size: 15px;
line-height: 1.5;
font-style: normal;
font-weight: 400;
color: #5f5f5f;
background: #fff;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
width: 100%;
height: 100%;
overflow-x: hidden;
overflow-y: auto;
margin: 0;
padding: 0;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
color: #5f5f5f;
text-decoration: none;
outline: none;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

p {
font-size: 15px;
line-height: 1.7;
letter-spacing: normal;
font-weight: 400;
color: #5f5f5f;
padding-bottom: 30px;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}

p a,
p a:hover {
color: #5f5f5f;
text-decoration: none;
outline: none;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

strong {
font-weight: bold;
}

::-moz-selection {
background: #5f5f5f;
color: #fff;
}

::selection {
background: #5f5f5f;
color: #fff;
}

.nopadding {
padding: 0!important;
margin: 0!important;
}

.upper-page {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
left: 0;
top: 0;
margin: 0;
}

.center-container {
position: absolute;
display: table;
table-layout: fixed;
width: 100%;
height: 100%;
background: none;
}

.center-block-header {
display: table-cell;
vertical-align: middle;
}

.sections {
position: relative;
z-index: 5;
}

section {
position: relative;
width: 100%;
height: auto;
margin: 0;
padding: 0;
}


#footer {
padding: 0;
text-align: center;
}

.hero-fullscreen {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
overflow: hidden;
/*z-index: 0;*/
}

.hero-bg {
position: relative;
width: 100%;
height: 100%;
background-position: center center;
background-size:cover!important;
background-repeat: no-repeat;
-webkit-background-size: cover;
   -moz-background-size: cover;
    -ms-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
}

.hero-fullscreen-fix {
width: 100%;
height: 100%;
}

.slick-track,
.slick-list {
-webkit-perspective: 2000;
        perspective: 2000;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}

.slick-slide {
text-align: center;
color: #000;
height: 550px;
background: #fff;
}

@media only screen and (max-width: 880px) {
  .slick-slide {
    height: 450px;
  }
}

@media only screen and (max-width: 640px) {
  .slick-slide {
    height: 350px;
  }
}

.slick-slide-must-haves {
text-align: center;
color: #000;
height: 396px;
background: #fff;
}

@media only screen and (max-width: 995px) {
  .slick-slide-must-haves {
    height: 336px;
  }
}

@media only screen and (max-width: 640px) {
  .slick-slide-must-haves {
    /* height: 326px; */
	height: 356px;
  }
}

@media only screen and (max-width: 640px) and (orientation: landscape) {
  .slick-slide-must-haves {
    height: 396px;
  }
}

@media only screen and (max-width: 480px) {
  .slick-slide-must-haves {
	/* height: 236px; */
	height: 266px;
  }
}

.slick-slider {
margin-bottom: 0;
margin-top: 0;
cursor: default;
overflow: hidden;
}

.slick-auto {
width: 100%;
height: auto;
}

.slick-auto p {
padding: 20px;
}

.bg-color-1 {
background: #fafafa;
}

.slick-prev,
.slick-next {
position: absolute;
display: block;
top: 50%;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
   -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        /*opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
z-index: 1;
visibility: visible;
}

.slick-prev {
left: -35px;
}

.slick-next {
right: -35px;
}

.slick-must-haves .slick-prev,
.slick-must-haves-2 .slick-prev {
left: -35px;
}

.slick-must-haves .slick-next,
.slick-must-haves-2 .slick-next {
right: -35px;
}

.slick-prev:before,
.slick-next:before {
font-size: 12px;
color: #fff;
padding: 0;
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;
display: block;
width: 50px;
height: 50px;
line-height: 50px;
position: absolute;
background: #db0018;
-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
   -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.slick-prev:before {
left: 75px;
top: 9px;
}

.slick-next:before {
right: 75px;
top: 9px;
}

.slick-must-haves .slick-prev:before,
.slick-must-haves-2 .slick-prev:before {
left: 55px;
}

.slick-must-haves .slick-next:before,
.slick-must-haves-2 .slick-next:before {
right: 55px;
}

.slick-prev:hover,
.slick-next:hover {
-webkit-transition: 0 none;
   -moz-transition: 0 none;
	-ms-transition: 0 none;
     -o-transition: 0 none;
        transition: 0 none;
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:active:before,
.slick-next:active:before,
.slick-benefits:hover .slick-prev,
.slick-benefits:hover .slick-next,
.slick-must-haves:hover .slick-prev,
.slick-must-haves:hover .slick-next,
.slick-must-haves-2:hover .slick-prev,
.slick-must-haves-2:hover .slick-next {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.slick-benefits:hover .slick-prev {
left: -55px;
}

.slick-benefits:hover .slick-next {
right: -55px;
}

.slick-must-haves:hover .slick-prev,
.slick-must-haves-2:hover .slick-prev {
left: -55px;
}

@media only screen and (max-width: 1200px) {
  .slick-must-haves:hover .slick-prev,
  .slick-must-haves-2:hover .slick-prev {
    left: -50px;
  }
}

@media only screen and (max-width: 995px) {
  .slick-must-haves:hover .slick-prev,
  .slick-must-haves-2:hover .slick-prev {
    left: -50px;
  }
}

.slick-must-haves:hover .slick-next,
.slick-must-haves-2:hover .slick-next {
right: -55px;
}

@media only screen and (max-width: 1200px) {
  .slick-must-haves:hover .slick-next,
  .slick-must-haves-2:hover .slick-next {
    right: -50px;
  }
}

@media only screen and (max-width: 995px) {
  .slick-must-haves:hover .slick-next,
  .slick-must-haves-2:hover .slick-next {
    right: -50px;
  }
}

h2 {
font-family: 'Oswald', sans-serif;
font-size: 13px;
font-weight: 400;
font-style: normal;
text-transform: uppercase;
color: #5f5f5f;
/*text-align: center;*/
margin: 0 auto;
padding: 0;
line-height: 1;
}

img {
vertical-align: middle;
max-width: 100%;
}


.logo .logo-light,
.main-navigation-bg .logo .logo-dark {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
height: auto;
}

.logo .logo-dark,
.main-navigation-bg .logo .logo-light {
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
height: 0;
}

.navbar-bg-switch {
position: fixed;
width: 100%;
top: 0;
left: 0;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
z-index: 999;
}

.logo {
padding-top: 19px;
padding-left: 0;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

@media only screen and (max-width: 1200px) {
  .logo {
    padding-top: 19px;
	padding-left: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    padding-top: 15px;
    padding-left: 10px;
  }
}

.main-navigation .navbar-nav li a {
position: relative;
font-family: 'Oswald', sans-serif;
font-style: normal;
font-size: 13px;
font-weight: 400;
letter-spacing: 0.05em;
text-transform: uppercase;
text-decoration: none;
color: #fff;
/*color: #000000;*/
padding: 45px 15px 35px 15px;
right: -15px;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

@media only screen and (max-width: 1200px) {
.main-navigation .navbar-nav li a {
    right: 16px;
  }
}

@media only screen and (max-width: 768px) {
.main-navigation .navbar-nav li a {
    color: #000;
	padding: 10px 15px;
	right: auto;
  }
}

.main-navigation .navbar-nav li a:hover {
color: #fff;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

@media only screen and (max-width: 768px) {
 .main-navigation .navbar-nav li a:hover {
    color: #000;
  }
}

.nav li a:focus,
.nav li a:hover {
color: #fff;
background: none;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

.main-navigation-bg {
background: rgba(222, 229, 234, 1);
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .35);
   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .35);
        box-shadow: 0 0 5px rgba(0, 0, 0, .35);
}

.main-navigation-bg .logo {
padding-top: 6px;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

.main-navigation-bg .main-navigation .navbar-nav li a {
color: #000;
padding: 19px 15px 0 15px;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

@media only screen and (max-width: 768px) {
  .main-navigation-bg .main-navigation .navbar-nav li a {
    padding: 10px 15px;
  }
}

.main-navigation-bg .main-navigation .navbar-nav li a:hover {
color: #000;
}

@media only screen and (max-width: 768px) {
  .navbar-toggle .icon-bar {
    background: #fff;
	margin-right: -10px;
  }
  
  .main-navigation-bg .navbar-toggle .icon-bar {
    background: #000;
	margin-right: -10px;
  }
  
  .navbar-toggle {
    margin-top: -35px;
    margin-right: 4px;
    -webkit-transition: all .4s ease-out;
       -moz-transition: all .4s ease-out;
        -ms-transition: all .4s ease-out;
         -o-transition: all .4s ease-out;
            transition: all .4s ease-out;
  }
	
  .main-navigation-bg .navbar-toggle {
    margin-top: -44px;
    margin-right: 4px;
    -webkit-transition: all .4s ease-out;
       -moz-transition: all .4s ease-out;
        -ms-transition: all .4s ease-out;
         -o-transition: all .4s ease-out;
            transition: all .4s ease-out;
  }
  
  .navbar-collapse {
    background: rgba(192, 192, 192, 0.3); 
   /*change2 background: rgba(255, 255, 255, 1);*/
	margin-top: 23px;
  }
  
  .main-navigation-bg .navbar-collapse {
	margin-top: 3px;
  }
}

.main-navigation-bg .link-underline-menu:before {
bottom: -7px;
background: #000;
}

.navbar-nav li.active {
color: #ccc!important;
text-decoration: none;
}  

.navbar-nav > .active > a {
color: #ccc!important;
background: none;
text-decoration: none;
}


.link-underline-menu {
position: relative;
text-decoration: none;
cursor: pointer;
}

.link-underline-menu:before {
content: "";
position: absolute;
width: 100%;
height: 1px;
bottom: 28px;
left: 0;
background: #fff;
visibility: hidden;
-webkit-transform: scaleX(0);
   -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
     -o-transform: scaleX(0);
        transform: scaleX(0);
-webkit-transition: all 0.4s ease-in-out 0s;
   -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
     -o-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
}

.link-underline-menu:hover:before {
visibility: visible;
-webkit-transform: scaleX(1);
   -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
     -o-transform: scaleX(1);
        transform: scaleX(1);
}

@media only screen and (max-width: 768px) {
  .link-underline-menu:hover:before {
    visibility: hidden;
  }
}

.link-underline-menu.active:before {
background: #ccc;
}

.main-navigation-bg .link-underline-menu.active:before {
background: #ccc;
}


.overlay:before {
content: "";
position: absolute;
display: block;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: 1;
}

.overlay-top-bottom-dark-15:before,
.overlay-dark-70:before,
.overlay-dark-60:before,
.overlay-dark-40:before {
-webkit-pointer-events: none;
   -moz-pointer-events: none;
        pointer-events: none;
}

.overlay-top-bottom-dark-15:before {
background: -moz-linear-gradient(top, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .1) 100%);
background: -webkit-linear-gradient(top, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .1) 100%);
background: linear-gradient(to bottom, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
}

.overlay-dark-70:before {
background: rgba(0, 0, 0, .7);
}

.overlay-dark-60:before {
background: rgba(0, 0, 0, .6);
}

.overlay-dark-40:before {
background: rgba(0, 0, 0, .4);
}

.overlay-dark-20:before {
background: rgba(0, 0, 0, .2);
}

.overlay-dark-10:before {
background: rgba(0, 0, 0, .1);
}

.inner-divider,
.inner-divider-half,
.inner-divider-ultra-half {
position: relative;
width: 100%;
margin: 0 auto;
background: none;
z-index: -1;
}

.inner-divider {
height: 100px;
}

@media all and (min-width: 1920px) {
  .inner-divider {
	height: 150px;
  }
}

@media only screen and (max-width: 980px) {
  .inner-divider {
    height: 100px;
  }
}

@media only screen and (max-width: 640px) {
  .inner-divider {
    height: 80px;
  }
}

.inner-divider-half {
height: 50px;
}

@media all and (min-width: 1920px) {
  .inner-divider-half {
	height: 75px;
  }
}

.inner-divider-ultra-half {
height: 15px;
}

h1.home-page-title {
position: relative;
font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 115px;
text-align: center;
text-transform: uppercase;
letter-spacing: -0.02em;
color: #fff;
/*margin: -14px auto -5px auto;*/
width: 100%;
line-height: 100%;
z-index: 1;
}

h2.home-page-title {
position: relative;
font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 50px;
text-align: center;
color: #fff;
margin: -2px 0 0 11px;
z-index: 1;
}

img.home-page-title {
position: relative;
margin:auto;
width:40%;
text-align: center;
color: #fff;
margin: -2px 0 0 11px;
z-index: 1;
}
#new-footer{
padding:14px!important;
}
@media only screen and (max-width: 1500px) {
  img.home-page-title {
    width:75%;
  }
}

@media only screen and (max-width: 880px) {
  h1.home-page-title {
    font-size: 85px;
    /*margin: -10px auto -4px auto;*/
  }
  h2.home-page-title {
    font-size: 35px;
    /*margin: -10px auto -4px auto;*/
  }
}

@media only screen and (max-width: 750px) {
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(0,0,0,1)!important;
  }

#new-footer{
padding:5px!important;
}
}

@media only screen and (max-width: 640px) {
  h1.home-page-title {
    font-size: 65px;
    /*margin: -9px auto -2px auto;*/
  }
  h2.home-page-title {
    font-size: 20px;
    /*margin: -9px auto -2px auto;*/
  }
}

















* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Slideshow container */
.slideshow-container {
  max-width: 950px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
